.edudms_news.widget.content {
	border-top-width:0px;
	margin-bottom: 5px;
	padding:2px 2px 2px 2px;
}

.edudms_news.widget.title {
	border-top-width:2px;
	margin-bottom: 5px;
	padding:2px 2px 2px 2px;
	font-weight:bolder;
	font-size: larger;
}